@import "./navbar.css";

/* was 900px before */
@media screen and (max-width: 1100px){

    #nav-main {

        position: relative;
        z-index: 22;

        transition: z-index 0.24s ease-in-out;
    }

    #nav-toggle-btn {

        display: flex;
        flex-direction: row;
        align-items: center;
        width: max-content;
    }

    #nav-toggle-btn::before {

        content: "Menu";
        font-weight: 400;
        font-size: 14px;
        margin-right: 8px;
    }

    #nav-toggle-btn > img {

        width: 24px;
        height: 24px;
        object-fit: contain;

        transition: opacity 0.24s ease-in-out;
    }

    #nav-btn-open {

        opacity: 1;
    }

    #nav-btn-close {

        margin-left: -24px;
        opacity: 0;
    }

    .nav-list {

        position: absolute;
        top: 0;
        right: 0;
        margin-top: 54px;
        padding-top: 35px;
        flex-direction: column;
        width: 77.2lvw;
        align-items: end;
        translate: calc(100% + var(--site-padding) + 10px) 0;
        padding-bottom: var(--site-padding);
        overflow-y: auto;

        transition: translate 0.24s ease-in-out;
    }

    .nav-list-item {

        width: auto;
    }

    .nav-link {

        width: auto;
        text-align: end;
    }

    .more-nav > p {

        display: none;
    }

    .more-nav > .more-nav-items {

        position: relative;
        top: 0;
        border: none;
        visibility: visible;
        opacity: 1;
        translate: 0 0;
        box-shadow: none;
        margin-top: 0;
        padding: 0;
        gap: 35px;
    }

    #mobile-focus-bg {

        display: block;
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        height: 100lvh;
        background-color: rgba(0, 0, 0, .24);
        /* border-top: 2px var(--col-pri3) solid; */
        visibility: hidden;

        transition: visibility 0.24s ease-in-out;
    }

    #nav-list-bg {

        display: block;
        position: fixed;
        top: 62px;
        right: 0;
        width: 77.2%;
        height: 100lvh;
        background-color: var(--col-theme);
        /* border-top: 2px black solid; */
        translate: 100% 0;

        transition: translate 0.24s ease-in-out;
    }

    #nav-list-bg::before {

        content: "Momentum";
        font-size: 48px;
        position: absolute;
        top: calc(var(--site-padding)*-5);
        left: calc(var(--site-padding)*0);
        transform: rotate(90deg);
        transform-origin: left bottom;
        font-family: "Noto Sans JP";
        font-size: 98px;
        /* opacity: 0.01; */
        opacity: 0;
    }

    #nav-list-bg::after {

        content: "";
        font-size: 48px;
        position: absolute;
        bottom: calc(var(--site-padding)*4 + 62px);
        right: var(--site-padding);
        height: 66px;
        width: 179px;
        background: url("../assets/momentum_mobile_nav_bg.png") no-repeat;
        background-size: contain;
    }

    /* CLOSE GYMNASTICS */
    #defocus {

        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        translate: 0 -50%;
        z-index: 21;
    }

    #defocus::before {

        content: "MSAMenu";
        color: red;
        opacity: 0;
    }

    /* Brings defocus to the fore */
    #nav-main:focus,
    #nav-main:focus-within {

        z-index: 20;
    }

    #nav-main:focus #nav-toggle-btn::before,
    #nav-main:focus-within #nav-toggle-btn::before {

        content: "Close";
    }

    #nav-main:focus #nav-btn-open,
    #nav-main:focus-within #nav-btn-open {

        opacity: 0;
    }

    #nav-main:focus #nav-btn-close,
    #nav-main:focus-within #nav-btn-close {

        opacity: 1;
    }

    #nav-main:focus #nav-list-bg,
    #nav-main:focus-within #nav-list-bg,
    #nav-main:focus #nav-list,
    #nav-main:focus-within #nav-list {

        translate: 0 0;
    }

    #nav-main:focus + #mobile-focus-bg,
    #nav-main:focus-within + #mobile-focus-bg {

        visibility: visible;
    }
        
    #msa-logo {

        height: 40px;
    }
}

@media screen and (max-width: 600px) {

    #nav-list-bg {

        width: 87.2%;
    }
}