<div id="navbar">
    <div id="nav-content">
<<<<<<< HEAD
        <a href="/" class="msa-logo" id="msa-logo"><img src="/partials/navbar/assets/momentum-logo-nobg.png" alt="Momentum Sports Africa"></a>
=======
        <!-- FIXED: Correct path and added file extension (.png or .svg) -->
        <a href="/" class="msa-logo" id="msa-logo">
            <img src="/partials/navbar/assets/momentum-logo-nobg.png" alt="Momentum Sports Africa">
        </a>
>>>>>>> a203da8 (Basketball description Added)
        <div id="defocus"></div>
        <div id="nav-main" tabindex="1">
            <div id="nav-list-bg"></div>
            <div class="body-txt" id="nav-toggle-btn">
                <span id="nav-btn-open">☰</span>
<<<<<<< HEAD
                <span id="nav-btn-close">✕</span>
            </div>
            <ul id="nav-list" class="nav-list" nav-state="{{footerPage}}">
                <li class="nav-list-item"><a href="/events" class="nav-link events-link body-txt">Events</a></li>
=======
                <span id="nav-btn-close" style="display: none;">✕</span>
            </div>
            <ul id="nav-list" class="nav-list" nav-state="{{footerPage}}">
                <li class="nav-list-item"><a href="/events" class="nav-link events-link body-txt">TID Camps</a></li>
>>>>>>> a203da8 (Basketball description Added)
                <li class="nav-list-item"><a href="/data-policy" class="nav-link data-policy-link body-txt">Data Policy</a></li>
            </ul>
        </div>
        <div id="mobile-focus-bg"></div>
    </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> a203da8 (Basketball description Added)
