<div id="navbar">
    <div id="nav-content">
        <a href="/" class="msa-logo" id="msa-logo"><img src="./assets/momentum_logo.svg" alt=""></a>
        <div id="defocus"></div>
        <div id="nav-main" tabindex="1">
            <div id="nav-list-bg"></div>
            <div class="body-txt" id="nav-toggle-btn">
                <img src="./assets/menu_open.svg" alt="" id="nav-btn-open">
                <img src="./assets/menu_close.svg" alt="" id="nav-btn-close">
            </div>
            <ul id="nav-list" class="nav-list" nav-state="{{footerPage}}">
                <li class="nav-list-item"><a href="/" class="nav-link home-link body-txt">Home</a></li>
                <li class="nav-list-item"><a href="/impact" class="nav-link impact-link body-txt">Impact</a></li>
                <li class="nav-list-item"><a href="/little-giants" class="nav-link little-giants-link body-txt">Little Giants</a></li>
                <li class="nav-list-item"><a href="/msa-factory-program" class="nav-link msa-factory-link body-txt">MSA Factory Program</a></li>
                <li class="nav-list-item"><a href="/propulse" class="nav-link propulse-link body-txt">ProPulse</a></li>
                <li class="nav-list-item"><a href="/gallery" class="nav-link gallery-link body-txt">Gallery</a></li>
                <li class="nav-list-item"><a href="/contact-us" class="nav-link contact-link body-txt">Contact Us</a></li>
            </ul>
        </div>
        <div id="mobile-focus-bg"></div>
    </div>
</div>