<div id="navbar">
    <div id="nav-content">
        <a href="/" class="msa-logo" id="msa-logo"><img src="/assets/momentum-logo-nobg.png" alt="Momentum Sports Africa"></a>
        <div id="defocus"></div>
        <div id="nav-main" tabindex="1">
            <div id="nav-list-bg"></div>
            <div class="body-txt" id="nav-toggle-btn">
                <span id="nav-btn-open">☰</span>
                <span id="nav-btn-close">✕</span>
            </div>
            <ul id="nav-list" class="nav-list" nav-state="{{footerPage}}">
                <li class="nav-list-item"><a href="/events" class="nav-link events-link body-txt">Events</a></li>
                <li class="nav-list-item"><a href="/data-policy" class="nav-link data-policy-link body-txt">Data Policy</a></li>
            </ul>
        </div>
        <div id="mobile-focus-bg"></div>
    </div>
</div>
